body{
    margin: 0px;
    background-color: #2b2b2b;
}

.Navigace {
    text-decoration: none;
    display: inline-block;
}
a{
    font-size: 60px;
    color: #00ffa6;
}

.fa-archive{
    margin-bottom: 50px;
}


.fa-spotify{
    color: #1DB954;
}
.fa-facebook-square{
    color: #4267B2;
}
.fa-instagram{
    color: #E1306C;
}

.Textonem{
    margin-top: 200px;
    margin-left: 350px ;

}

h1{
    text-shadow: -1.5px -1.5px 0 #0ff,1.5px 1.5px 0 #f00;
    text-shadow: 1.5px 1.5px 0 #0ff,-1.5px -1.5px 0 #f00;


    font-family: "Old English Text MT";
    font-size: 75px;
    color: #000000;
}
.nejakysracky{
    font-family: "Arial Black";
    font-size: 26px;
    color: white;
}
.obrazek1{
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 60px;
    height: 569px;
    width:  930px;
}
.zarovnavacidiv{
    display: flex;
    justify-content: left;
}

ul {
    margin: 25px;
    padding: 0;
}


nav {
    background-color: #000000;
    height: 100vh;
    width: 110px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

